{% extends 'base.html' %}
{% block title %} Blog {% endblock%}

{% block content %}

{% for post in posts %}

<main class="container">

    <div class="my-3 p-3 bg-body rounded shadow-sm">
        
        <div class="d-flex text-muted pt-3">
                <img src="{{ post.author.profile.image.url }}" class="rounded-circle article-img" alt="" width="100" height="70">
          
            <div class="border-bottom pb-2 mb-0">
                <strong class="d-block text-gray-dark">
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">{{ post.title }} </font> <br>
                        <font style="vertical-align: inherit;">{{ post.author }}</font>
                        <p style="text-align: right;">
                            {{ post.date_posted|date:"d F, Y"}}
                        </p>
                    </font>
                </strong>

                <font style="vertical-align: inherit;">
                    <font style="vertical-align: inherit;">{{post.content}}</font>


                </font>
                </font>

            </div>
        </div>
    </div>


</main>

{% endfor %}

{% endblock%}