{% extends 'base.html' %}
{% block title %} Blog {% endblock%}

{% block content %}

{% for post in posts %}

<main class="container">

    <div class="my-3 p-3 bg-body rounded shadow-sm">
        
        <div class="d-flex text-muted pt-3">
            <svg class="bd-placeholder-img flex-shrink-0 me-2 rounded" width="32" height="32"
                xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Marcador de posição: 32x32"
                preserveAspectRatio="xMidYMid slice" focusable="false">
                <title>Placeholder</title>
                <rect width="100%" height="100%" fill="#007bff"></rect><text x="50%" y="50%" fill="#007bff"
                    dy=".3em">32x32</text>
            </svg>

            <div class="border-bottom pb-2 mb-0">
                <strong class="d-block text-gray-dark">
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">{{ post.title }} </font> <br>
                        <font style="vertical-align: inherit;">{{ post.author }}</font>
                        <p style="text-align: right;">
                            {{ post.date_posted|date:"d F, Y"}}
                        </p>
                    </font>
                </strong>

                <font style="vertical-align: inherit;">
                    <font style="vertical-align: inherit;">{{post.content}}</font>


                </font>
                </font>

            </div>
        </div>
    </div>


</main>

{% endfor %}

{% endblock%}